@model Provis.Core.Helpers.Mails.ViewModels.TaskEdited

@{
    Layout = "_TaskEditLayout";
    ViewData["ClientUrl"] = Model.Uri;
    ViewData["ChangedBy"] = Model.WhoEditUserName;
    ViewData["WorkspaceName"] = Model.WorkspaceName;
    ViewData["ViewInfo"] = $"Task {Model.TaskChangeInfo.Name} changed";
}

<h2 style="color: aqua">Task info now</h2>
<table align="center" style="word-break: break-all;">
    <tr>
        <td>
            <h2>Name: <b style="color: white;">@Model.TaskChangeInfo.Name</b></h2>
            <h2>Description: <b style="color: white;">@Model.TaskChangeInfo.Description</b></h2>
            <h2>Deadline: <b style="color: white;">@Model.TaskChangeInfo.Deadline.Date.ToString("d")</b></h2>
        </td>
    </tr>
</table>
