@model Provis.Core.Helpers.Mails.ViewModels.TaskChangeStatus

@{
    Layout = "_TaskEditLayout";
    ViewData["ClientUrl"] = Model.Uri;
}

<h1 style="color: white">Task changed by @Model.WhoChangedUserName</h1>