@model string

@{
    Layout = "_MailLayout";
}

<table align="center">
    <tr>
        <td>
            <h1>Your Code:</h1>
        </td>
        <td align="right">
            <h1 style="color: dodgerblue;">@Model</h1>
        </td>
    </tr>
</table>
